.config/BasemarkGPU/
.config/BraveSoftware/
.config/Epic/
.config/Google/
.config/Popcorn-Time/
.config/QDirStat/
.config/QtProject.conf
.config/Thunar/
.config/UNDERTALE/
.config/VirtualBox/
.config/VSCodium/
.config/cef_user_data/
.config/chromium/
.config/configstore/
.config/corectrl/
.config/dconf/
.config/discord/
.config/eas-cli-nodejs/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ipython/
.config/libreoffice/
.config/lutris/
.config/mimeapps.list
.config/npm/
.config/nvim/.netrwhist
.config/obs-studio/
.config/oh-my-zsh/
.config/pavucontrol.ini
.config/pulse/
.config/qBittorrent/
.config/rpcs3/
.config/spotify/
.config/sqlitebrowser/
.config/unity3d/
.config/xfce4/
.config/yuzu/
.config/zoomus.conf
.config/zsh/.zcompdump-*

.local/lib/
.local/share/
.local/state/
