# mangohud in minecraft is currently broken. Minecraft will not run, but
#   we are not giving up hope that it will work again one day.
[Desktop Entry]
Type=Application
Version=1.0
Name=[broken]Minecraft Launcher (Mango)
Comment=Official Minecraft Launcher
#Exec=/opt/minecraft-launcher/minecraft-launcher
Exec=mangohud minecraft-launcher
# Exec=mangohud --dlsym minecraft-launcher
Path=/opt/minecraft-launcher/
Icon=minecraft-launcher
Terminal=false
Categories=Game;Application;
